header {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 90%
    ),
    url(kaleb-nimz--5rA4DRrEXU-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.logoPics {
  border-radius: 60%;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.firstThing {
  margin: -6% 10%;
  font-family: "Roboto", sans-serif;
  padding: 10%;
  color: antiquewhite;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
h1 {
  font-size: 4rem;
}

p {
  color: grey;
}
a.nav-link {
  color: rgb(255, 251, 0);
  transition: 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
a.nav-link:hover {
  color: rgb(235, 2, 2);
  font-weight: 500;
}
#first-a {
  color: rgba(235, 2, 2, 0.671);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.days {
  background: linear-gradient(
        to right,
        rgba(231, 191, 14, 0.911) 10%,
        rgba(224, 35, 10, 0.274) 50%
      )
      50%,
    url(Days.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  border-radius: 25px;
  width: 30%;
}

h2 {
  font-family: "Roboto Mono", monospace;
  text-align: left;
}
.watch {
  background: yellow;
  padding: 40px;
  background: linear-gradient(
        to right,
        rgba(231, 191, 14, 0.911) 10%,
        rgba(255, 0, 0, 0.274) 50%
      )
      50%,
    url(eventPics.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  width: 30%;
}
.give {
  background: blue;
  padding: 40px;
  background: linear-gradient(
        to right,
        rgba(231, 191, 14, 0.911) 10%,
        rgba(255, 0, 0, 0.274) 50%
      )
      50%,
    url(tithes.png);
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 30%;
}
#online {
  font-size: 3rem;
  color: aliceblue;
  text-align: center;
}
#online:hover {
  color: rgb(247, 0, 0);
}
.row {
  margin: 10px auto;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  padding-right: 8%;
}
.link {
  text-decoration: none;
  transition: 0.4;
  color: aliceblue;
}
.link:hover {
  color: rgb(247, 0, 0);
}

/*------------------ From the 21 days section------------ */

.program {
  margin-top: 0%;
  background-color: #ecf0f1;
  text-align: center;
  width: 80%;
  margin: 35% auto 3%;
  padding-bottom: 3%;
}
.program p {
  margin: 0 50px 0;
}
.prayer {
  padding: 15px 20px;
  background: linear-gradient(to right, rgb(255, 174, 0) 20%, rgb(255, 81, 0));
  border: none;
}
a {
  text-decoration: none;
  color: aliceblue;
}
.support {
  padding: 15px 20px;
  border: 2px solid rgb(255, 81, 0);
}
.support a {
  color: rgb(255, 0, 0);
}
.sow {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 25%,
      rgba(0, 0, 0, 0.5) 25%
    ),
    url(plant.jpg);
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: 0% auto;
  padding-bottom: 3%;
  border-radius: 35px;
  color: aliceblue;
  text-align: center;
  box-shadow: 10px 10px 10px grey;
}
.sow .support {
  background: none;
  padding: 10px 25px;
}

/*----------- AFTER SOWING SEED-------- */
.secondRow {
  margin: 5px auto;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  padding-right: 8%;
  margin-bottom: 20px;
}
.secondDay {
  background: whitesmoke;
  background-position: center;
  background-size: cover;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  width: 30%;
}
.secondWrite {
  color: rgb(16, 16, 36);
  text-align: center;
}

/* Styling the section for the big picture */

.bigRow {
  background: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 25%
    ),
    url(CrowdDark.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 2%;
  position: absolute;
  margin: 30% auto;
  border: none;
}
.daddyPics {
  width: 350px;
  filter: drop-shadow(50px);
  filter: blur();
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
.pastTopics {
  background: linear-gradient(to right, rgb(255, 174, 0) 20%, rgb(255, 81, 0));
  border-radius: 25px;
  height: 600px;
  overflow: auto;
}
.pastTopics h2 {
  font-size: 20px;
}
.pastTopics p {
  color: aliceblue;
}
.socialMedia {
  background: linear-gradient(to right, rgb(255, 174, 0) 20%, rgb(255, 81, 0));
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: 90% auto 10%;
  padding-bottom: 3%;
  border-radius: 35px;
  color: aliceblue;
  text-align: center;
  box-shadow: 10px 10px 10px grey;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
i {
  padding: 0 10%;
  transition: 0.3s;
}
i:hover {
  transform: scale(3, 3);
}
/* ------------KEYFRAME'S ANIMATION------------ */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Mobile screen */

@media screen and (max-width: 700px) {
  .firstThing {
    margin-top: 50px;
  }
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .logoPics {
    width: 70px;
    height: 70px;
    line-height: 10%;
  }
  hr {
    margin: -0px;
    margin-left: 95px;
    height: 3px;
    background: orange;
    align-items: center;
  }
  .first-p {
    text-align: center;
  }
  .col-md-3 {
    border-radius: 10%;
    margin-bottom: 5%;
    width: 20rem;
  }
  .row {
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    justify-content: space-between;
    margin-left: -4%;
  }
  #online {
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
  }
  .programSide {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    margin: 145% auto;
    padding-bottom: 20%;
    position: absolute;
  }
  .program {
    margin-top: 0%;
    background-color: #ecf0f1;
    text-align: center;
    width: 100%;
    margin: 5% auto 3%;
    padding-bottom: 3%;
  }

  /* For the big picture section */
  .bigRow {
    margin: 630% auto 0%;
    position: absolute;
  }
  .daddyPics {
    width: 125%;
    text-align: center;
  }
  .bigPics {
    margin: 2% auto;
  }
  .pastTopics {
    margin: auto;
    width: fit-content;
    height: 500px;
  }
  .socialMedia {
    margin: 860% auto 10%;
    text-align: center;
  }
  i {
    padding: 0 5%;
    transition: 0.3s;
  }
  .last {
    font-size: 12px;
  }
}

/* View for Ipad */

@media screen and (max-width: 1100px) and (min-width: 700px) {
  .programSide {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    margin: 45% auto;
    padding-bottom: 20%;
  }
  .socialMedia {
    margin: 120% auto 10%;
    text-align: center;
  }
  .bigRow {
    margin: -10% auto 0%;
    position: absolute;
  }
}
